@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background:rgb(218, 100, 5);
}

section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
}

h1 {
    font-size: 3em;
    margin:0.5em;
}



.time {
    display:block;
    
}

.controls button {
    padding:10px;
    outline:none;
    border:none;
    color:white;
    font-size:6em;
    border-radius:25px;
    background:inherit;
}

.past-times {
    width:350px;
    overflow-y: scroll;
    height:400px;
    display:flex;
    flex-direction: column-reverse;
}

.past-times span {
    padding:10px;
}

.past-times span:nth-child(even) {
    background:rgba(0, 0, 0, 0.212);
}
.past-times span:nth-child(odd) {
    background:rgba(0, 0, 0, 0.137);
}

.past-times h5 {
    margin:5px 5px 5px 0;
}

.past-times p {
    display:inline;
}

.controls svg {
    background:rgba(0, 0, 0, 0.459);
    padding:3px;
    border-radius:50px;
    color:white;
}

.past-times svg {

    padding-right:1%;
}

.time-display {
    font-size:2.5em;
}